* {
  --bg_color: rgb(0, 24, 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg_color);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
}

.web-logo {
  width: 140px;
  height: auto;
  border-radius: 5px;
}

.header .desktop-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style: none;
  & li a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid var(--bg_color);
  }

  & li a:hover {
    color: green;
    border-radius: 5px;
    border-bottom: 1px solid green;
    transition: all 0.5s ease-in-out;
  }
}

.header .mobile-nav {
  display: none;
  position: fixed;

}

.header .mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  list-style: none;
  background: rgb(2, 73, 2);
  padding: 30px 15px;
  position: fixed;
  height: 100vh;
  width: 180px;
  top: 10px;
  left: -15px;


  
  & li a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
  }
  & li a:hover {
    color: green;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
}
.three-bar {
  display: none;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.phone-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg_color);
  border: 1px solid green;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.msg-btn {
  padding: 10px 30px;
  background-color: rgb(2, 130, 2);
  border: 1px solid green;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;

  & .rotate {
    rotate: -135deg;
    margin-left: 5px;
  }
}

@media screen and (max-width: 844px) {
  .header .desktop-nav {
    display: none;
  }
  /* .header .res-nav {
  display: block;
  
} */

  .three-bar {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }

  .msg-btn {
    font-size: 15px;
    padding: 10px 20px;
    & .rotate {
      margin-left: 2px;
    }
  }
}
